html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(26, 25, 25);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: fit-content;
  min-width: 100%;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000
}

